.form-container {
    margin-left: 140px;
}

.mat-form-field {
    margin-top: 10px;
}

button {
    margin-left: 10px;
}

mat-error {
  font-size: small;
}

.photo {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
}

.edit-icon {
  position: relative;
  right: 52px;
  top: 2px;
  z-index: 1;
  align-self: flex-start;
}

.photo-container {
  display: flex;
}
