.form-container {
    margin-left: 140px;
}

.mat-form-field {
    margin-top: 10px;
}

button {
    margin-left: 10px;
}

mat-error {
  font-size: small;
}

.photo {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
}
