.login-form-container {
  background: black;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 20px;
  align-items: flex-start;
  height: 300px;
  width: 600px;
  margin: auto;
  border-radius: 14px;
  box-shadow: 0 3px 6px #00000029;
}

.login-form {
  display: flex;
  padding-top: 45px;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.errorMessage {
  display: flex;
  align-items: center;
  position: absolute;
  border: 1px solid #64ffda;
  color: #64ffda;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 5px;
}

.mat-icon {
  cursor: pointer;
  margin-left: 5px;
}
.mat-icon:hover {
  color: white;
}

app-button-with-delay {
  width: 50%;
}
