<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="onHomeClick()" aria-label="Icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>OLRx</span>
    <span class="spacer"></span>
    <select class="select-language" (change)="changeLocale()" [(ngModel)]="selectedLanguage">
        <option *ngFor="let language of languages" [value]="language.id">{{ language.title }}</option>
    </select>
    <button mat-icon-button [matMenuTriggerFor]="menuContainer" aria-label="Icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button aria-label="Icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
