.mat-toolbar.mat-primary.mat-toolbar-single-row {
  height: 55px;
}

.spacer {
    flex: 1 1 auto;
}

.select-language {
    outline: none;
    margin: 0 5px;
}

.logo {
  margin-left: 10px;
}

.mat-toolbar {
  border: 4px double black;
}

.login-button {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 40px 0 5px;
  //border: 1px solid black;
}
