<button mat-menu-item (click)="onProfileClick()">
    <mat-icon color="primary">perm_identity</mat-icon>
    <span>{{ 'MYPROFILE' | translate }}</span>
</button>
<button mat-menu-item (click)="onAddPosterClick()">
    <mat-icon color="primary">library_add</mat-icon>
    <span>Add poster</span>
</button>
<button mat-menu-item (click)="onCheckAddingClick()">
    <mat-icon color="primary">library_add</mat-icon>
    <span>Check adding</span>
</button>
<button mat-menu-item (click)="onDeliveryClick()">
    <mat-icon color="primary">local_shipping</mat-icon>
    <span>OLRx Delivery</span>
</button>
