.mat-card {
    margin: 50px;
    height: auto;
    width: auto;
}

.image-container {
  display: flex;
  justify-content: center;
}

.mat-card-image.small-img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}
