.main-content {
    display: flex;
    height: auto;
    min-height: 1200px;
    align-items: center;
    justify-content: center;
}

.mat-tab-group {
    margin-left: 40px;
    width: 70%;
    box-shadow: 2px 0px 6px #0000002e;
}

.mat-icon {
    margin-right: 10px;
}
