.main-content {
  display: flex;
  height: auto;
  min-height: 1200px;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

.mat-tab-group {
  background-color: azure;
  margin: 40px;
  width: 70%;
  box-shadow: 2px 0px 6px #0000002E;
}

.mat-icon {
  margin-right: 10px;
}


