:host ::ng-deep .mat-spinner {
  margin: 3px 0;
}

button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*.mat-button-wrapper {
  display: flex;
  flex-direction: column;
}*/
